body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.85), rgba(4,9,30,0.85)),url(lock.jpg);
    background-position: 50% 90%;
	background-size: cover;
}

.inputBox {
    position: relative;
    width: 350px;
}

.inputBox h2 {
    font-size: 28px;
    color: white;
}

.inputBox input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    box-shadow: -4px -4px 10px rgba(255,255,255,1),
           inset 4px 4px 10px rgba(0,0,0,0.5),
           inset 4px 4px 10px rgba(255,255,255,1),
           4px 4px 10px rgba(0,0,0,0.05);
}

.inputBox input::placeholder {
    letter-spacing: 0px;
}

.inputBox #btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    background: green;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.inputBox #btn:active {
    background: #9c2760;
}

